<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width" />
  <title>XLTS for AngularJS with Spring Boot</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  
  <!-- CSS Bundles -->
  <link rel="stylesheet" th:href="@{/Content/site.css}" />
  <link rel="stylesheet" th:href="@{/WebApp/Components/test.component.css}" />
  <link rel="stylesheet" th:href="@{/WebApp/Directives/test.directive.css}" />
  
  <!-- JavaScript Bundles -->
  <script th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>
  <script th:src="@{/node_modules/angular/angular.min.js}"></script>
  <script th:src="@{/WebApp/app.js}"></script>
  <script th:src="@{/WebApp/Components/test.component.js}"></script>
  <script th:src="@{/WebApp/Directives/test.directive.js}"></script>
</head>
<body ng-app="app">
  <h1 data-testid="title">XLTS for AngularJS with .NET Framework</h1>
  <test-directive></test-directive>
  <test-component></test-component>
</body>
</html>
