<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS ASP.NET MVC 5 Application</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body ng-app="app">
    <div class="container body-content">
        <h1>AngularJS ASP.NET MVC 5 Application</h1>
        <test-directive></test-directive>
        <test-component></test-component>
    </div>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/WebApp/app.js"></script>
    <script src="/WebApp/Components/test.component.js"></script>
    <script src="/WebApp/Directives/test.directive.js"></script>
</body>
</html>
